[user]
	name = Tony
	email = me@tonybenoy.com
	signingkey = C26752B6501EAD3D

[gpg]
	program = gpg2
[commit]
	gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[pull]
	rebase = true
