[user]
	name = Tony
	email = me@tonybenoy.com
	signingKey = C26752B6501EAD3D
[user]
	name = Tony
	email = me@tonybenoy.com
	signingKey = 309FEF623E13DE77


[gpg]
	program = gpg2
[commit]
	gpgsign = true
